<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">WeSound</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/list/users">All users</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/profile">{{user.user_name}}</a></li>
        <a href="/logout"><button type="button" class="btn btn-default navbar-btn">Log out</button></a>   
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
<body>
  <div class="container col-sm-12" id="mainform">
    <div style=" margin-top:100px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                                        
      <ul class="list-group">
        {{#each users}}
          <li class="list-group-item"><a href="/dashboard/{{this.id}}">{{this.user_name}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</body>